@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
}

/* Top heade component */
.main-top-header {
    background-color: #001f5b;
    padding: 10px;
}

.main-top-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.container .blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.links {
    font-size: 17px;
}

.links img {
    width: 40px;
}

.core_lines {
    color: #385691;
}

.container .blocks a {
    color: #fff;
    text-decoration: none;
}

.WhatsApp-number span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search span {
    cursor: pointer;
}

.search span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.login span {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #a9c6ff54;
    padding: 6px;
    border-radius: 10px;
    width: 130%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

/* End of top header component */


/* Navbar */
.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: 73px;
}

.container .links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    color: #001f5b;
    align-items: center;
}

.links ul a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #001f5b;
}

/*End Navbar */

/* Banner section */
.hotel-bg {
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/82/82ff58662c645322105e3558efe09446.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}

.hotel-bg .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 4px;
}

.header h2 {
    width: 558px;
    margin-top: 13%;
    line-height: 1.2;
    font-weight: bolder;
    font: 900;
    text-transform: uppercase;
    font-size: 41px;
    color: #38414d;
    margin-bottom: 8px;
}

.header p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.9px;
    background-color: #001f5b;
    color: #fff;
    width: 64%;
    border-radius: 2px;
    gap: 8px;
}

.header strong {
    font: bold;
    font-weight: bolder;
    font-size: 16px;
}

.items-block span {
    display: flex;
    justify-content: first baseline;
    margin-top: 43%;
    padding-top: 1px;
    width: 100%;
    height: 6px;
    background-color: #001f5b;
}

.hotel-bg .container {
    display: flex;
    justify-content: space-around;
    position: relative;
    justify-items: center;
}

.hotel-bg .colunms .items-block {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.colunms .items-block {
    display: flex;
    margin-top: 3%;
    width: 500px;
    height: 220px;
}

/* Mega search */
.mega-search .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 82px;
}

.mega-search .search-content {
    display: flex;
    background-color: #fff;
    min-width: 80%;
    height: 86px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mega-search .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mega-search .search-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* dropdown */
.dropdown {
    background: #fff;
    color: #001f5b;
    cursor: pointer;
    height: 50px;
    line-height: 40px;
    position: relative;
    width: 200px;
    text-decoration: none;
    z-index: 1;
    border-bottom: 1px solid #38414d;
}

.mega-search .tiny-header {
    color: #38414d52;
    padding-top: 8px;
}

.dropdown-menu {
    background-color: #fff;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    position: absolute;
    left: 0;
    opacity: 0;
    text-align: start;
    top: 0;
    visibility: hidden;
    z-index: -99999;
    text-transform: capitalize;
}

.dropdown-menu li:first-child {
    cursor: pointer;
}

.dropdown-menu a {
    color: #000;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    -webkit-transition: all 1s;
    transition: all 1s;
    width: max-content;
}

.dropdown-menu a:hover {
    background: rgba(78, 78, 78, 0.066);
    color: #000;
    padding: 3px;
    width: 100%;
    padding: 2px;
}

.dropdown span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown:hover .dropdown-menu {
    background: #fff;
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100%;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

.btn {
    padding: 9px 32px;
    background: white;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn-book {
    background-color: #001f5b;
    color: white;
}

.btn-book:hover {
    background-color: #38414d;
}


.btn-icon {
    margin-left: 10px;
    gap: 14px;
}

.btn:hover {
    border-color: #1150EF;
    cursor: pointer;
}

/* end dropdown */
/* End mega-search */


/* Line row */
.line-row .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    background-color: #38414d;
    color: white;
}

/* End Line row */

/* End Mega search */


/* End banner section */